//converted by http://css2sass.herokuapp.com/
@import "variables";
@import "mixin";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);

* {
//   border: 1px solid red;
  @include crossBrowser(box-sizing, border-box);
  font-family: Lato, sans-serif;
  color: $dark-gray-blue;
}

main {
  margin-top: 45vh;
  width: 100%;
  z-index: $main;
  background-color: $white;
  border-top: 4px solid $dark-gray-blue;
  font-size: 62.5%;
}

#background {
  position: fixed;
  width: 100%;
  z-index: $background;
  top: 0;
  img {
    width: 100%;
  }
}

#bio-img {
  border: 4px solid $dark-gray-blue;
  @include crossBrowser(border-radius, 50%);
  position: relative;
  top: -100px;
  width: 200px;
}

#title {
  position: relative;
  top: -50px;
  h1 {
     @include rem-px(font-size, 5);
  }
}

ul {
  list-style-type: none;
}

.section-title {
    height: 15vh;
}

.project-entry {
    margin: 5px;
    border: 1px solid $light-gray-blue;
    @include crossBrowser(border-radius, 3px);
    @include crossBrowser(box-shadow, 0px 0px 20px -6px $light-gray-blue);
    .buttons {
        padding: 5px;
    }
    &:hover {
        @include crossBrowser(box-shadow, 5px 5px 20px -6px $light-gray-blue);
    }
    .glyphicon {
        display: block;
        margin-right: 8px;
        float: left;
    }
}

.gray {
  background-color: $gray;
  @include crossBrowser(border-radius, 4px 4px 4px 4px);
  padding-bottom: 10px;
  clear: both;
}

.blue {
  background-color: $light-blue;
}

.dark-text {
  font-weight: bold;
  color: $dark-gray-blue;
}

.text-400 {
  font-weight: 400;
  @include rem-px(font-size, 3);
}

.text-light-color {
  color: $light-gray-blue;
}

a {
  color: $blue;
  text-decoration: none;
  display: block;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  #title {
    h1 {
      @include rem-px(font-size, 3);
    }
    h2 {
      @include rem-px(font-size, 1.5);
    }
  }
  .text-400 {
    @include rem-px(font-size, 2.5);
  }
  main {
    margin-top: 25vh;
  }
  #bio-img {
      width: 120px;
      top: -60px;
  }
}